/* Hela athkam Header.jsx styles */

/* Page navbar content */
.pageNavBar {background-color: #053B50;}
#pageNavBarOnly {margin-bottom: 4rem;}

.active-Link {color: aqua;}
.pageLink {
    color:#f3f3f3 !important;
}
.pageLink:hover {color: aqua !important;}




/* Main navbar content */
.mainNavBarBrand {color: #025464;}
.mainNavLink { color: #053B50;}
#mainNavbar {height: 8rem;}
