/* Normal order form styling */
.normalOrderModal {
    border-radius: 0%;
    border-style: none;
}

.required {
    color: red;
}

#deliverCard {
    width: 8cm;
    height: 5cm;
    border-style: dashed;
}

#noticeButton {
    width: 2cm;
    height: 0.5cm;
}

#noticeToast {
    width: 10cm;
    background-color: #E8AA42;
}

#clearButton {
    width: 5cm;
    height: 1cm;
    float: right;
}

#submitButton {
    width: 5cm;
    height: 1cm;
    background-color: #176B87;
    float: right;
}